<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DesafioUmbler</title>

    <environment include="Development">
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700'>
        <link rel="stylesheet" href="https://design.umbler.com/themes/umbler-site/dist/css/theme.min.css?v=2">
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/sweetalert2.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://design.umbler.com/themes/umbler-site/dist/css/theme.min.css?v=2">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <nav id="menu" class="bg-primary Fixed navbar navbar-default navbar-fixed-top navbar-toggleable-xl " role="navigation">
        <div class="navbar-header">
            <a id="toogle-menu-mobile" href="#menu-mobile" class="d-block float-xs-right hidden-xl-up"><span class="icon icon-nav-drawer icon-4x"></span></a>
            <a class="navbar-brand float-xs-left" href="/"><img src="//design.umbler.com//assets/svg/sprite-umbler/img-umbler-favicon-i.svg" class="img-svg img-2x"></span></a>
        </div>

        <!-- <div class="collapse navbar-collapse pos-relative float-xs-right" id="navbarSupportedContent">
        </div> -->
    </nav>

    <div class="container body-content">
        @RenderBody()
        <footer id="footer" class="overflow-hidden">
            <div class="container pt-5 pos-relative">
                <div class="row flex-lg">
                    <div class="col-lg-12">
                        <div class="footer-copyright flex-sm flex-sm-middle my-3 text-xs-center text-sm-left">
                            <a href="/" class="mr-2 hidden-xs-down">
                                <span class="icon icon-umbler-logo"></span>
                            </a>
                            <b class="mr-3 hidden-lg-down">Umbler, Inc. © 2020</b>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/js/sweetalert2.all.min.js"></script>
   

</body>
</html>
